
html[data-rem="375"] {
    font-size: 20PX;
}
@media only screen and (min-width: 320px) {
    html[data-rem="375"] {
        font-size: 17.06PX !important;
    }
}
@media only screen and (min-width: 375px) {
    html[data-rem="375"] {
        font-size: 20PX !important;
    }
}
@media only screen and (min-width: 400px) {
    html[data-rem="375"] {
        font-size: 21.33333333PX !important;
    }
}
@media only screen and (min-width: 414px) {
    html[data-rem="375"] {
        font-size: 22.08PX !important;
    }
}
@media only screen and (min-width: 480px) {
    html[data-rem="375"] {
        font-size: 25.6PX !important;
    }
}
html[data-rem="320"] {
 font-size: 20PX;
}
@media only screen and (min-width: 375px) {
    html[data-rem="320"] {
        font-size: 23.4375PX !important;
    }
}
@media only screen and (min-width: 400px) {
    html[data-rem="320"] {
        font-size: 25PX !important;
    }
}
@media only screen and (min-width: 414px) {
    html[data-rem="320"] {
        font-size: 25.875PX !important;
    }
}
@media only screen and (min-width: 480px) {
    html[data-rem="320"] {
        font-size: 30PX !important;
    }
}