// wangEditor重排
.wangEditor-container .wangEditor-txt h1, .wangEditor-container .wangEditor-txt h2, .wangEditor-container .wangEditor-txt h3, .wangEditor-container .wangEditor-txt h4, .wangEditor-container .wangEditor-txt h5, .wangEditor-container .wangEditor-txt p{
  line-height: 1.5 !important;
}
.wangEditor-container{
  border-color: #e6e6e6 !important;
}

// layui表格搜索
.layui-table-tool-search{
  position: relative;
  width: 250px;
  input{
    border-color: #e6e6e6;
    height: 30px;
    width: 250px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 34px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
  }
  button{
    border-color: transparent;
    background-color: transparent;
    width: 38px;
    height: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #d2d2d2;
    &:focus{
      outline: none;
    }
  }
}
