html,body{
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #f5f7fb;
    overflow-x: auto;
}
// layout
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.g-layout-horizontal>*{
  min-height: 800px;
}
.g-layout-vertical{
  width: 100%;
}
.g-layout-horizontal>.split{
  background-color: #fff;
}
.g-layout-horizontal>.split,.g-layout-horizontal .gutter-horizontal{
  float:left;
}
#splitLeft{
    z-index: -1;
    padding-right: 15px;
    overflow: hidden
}
#splitLeft .layui-card-body{
  min-height:80vh;
}


// panel
.panel{
  padding: 10px;
  margin: 8px;
  background-color: #fff;
  border-radius: 5px;
}
.panel .panel-bd:after{
  content: "";
  display: table;
  clear: both;
}

// media player
.xgplayer{
  background-color: #000 !important;
}
::-webkit-input-placeholder {
  color: #ccc
}

.lumina-tabsbody-item, [template] {
  display: none
}

[lay-href], [lay-tips], [lumina-event] {
  cursor: pointer
}

// 全局头
.layui-layout-admin .layui-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #f6f6f6;
  box-sizing: border-box;
  background-color: #fff
}

.layui-layout-admin .layui-header a, .layui-layout-admin .layui-header a cite {
  color: #333
}

.layui-layout-admin .layui-header a:hover {
  color: #000
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-more {
  border-top-color: #666
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-mored {
  border-color: transparent transparent #666
}

.layui-layout-admin .layui-header .layui-nav .layui-this:after, .layui-layout-admin .layui-header .layui-nav-bar {
  height: 2px;
  background-color: #20222A
}

.layui-layout-admin .layui-logo {
  background-color: #20222A;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15)
}

.layui-layout-admin .layui-logo, .layui-layout-admin .layui-logo a {
  color: #fff;
  color: rgba(255, 255, 255, .8)
}

.layui-side-menu {
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05)
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-item, .layui-layout-admin .layui-logo {
  height: 50px;
  line-height: 50px
}

/* 后台框架大布局 */.layui-layout-body{overflow: hidden;}
.layui-layout-admin .layui-side{top: 60px; width: 200px; overflow-x: hidden;}
.layui-layout-admin .layui-body{top: 60px; bottom: 44px;}
.layui-layout-admin .layui-main{width: auto; margin: 0 15px;}
.layui-layout-admin .layui-footer{position: fixed; left: 200px; right: 0; bottom: 0; height: 64px; line-height: 64px; padding: 0 15px; background-color: #f2f2f2;}
.layui-layout-admin .layui-header .layui-nav{background: none;padding: 0}
.layui-layout-left{position: absolute !important; left: 200px; top: 0;}
.layui-layout-right{position: absolute !important; right: 0; top: 0;}

// 侧边栏闭合状态
.lumina-side-shrink .layui-layout-admin .layui-logo {
  width: 60px;
  font-size: 14px;
}

.layui-layout-admin .layui-logo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1002;
  width: 140px;
  height: 49px;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 900;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 16px;
  text-align: center;
}

.layui-layout-admin .layui-body {
  position: fixed;
  top: 90px;
  bottom: 0
}

.layui-layout-admin .layui-body .lumina-tabsbody-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden
}

// 全局主框架
.lumina-setTheme-side, .layui-side-menu {
  background-color: #20222A;
  color: #fff
}

.layui-fluid {
  padding: 15px
}

.lumina-header {
  display: none;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
  border-radius: 0
}

.lumina-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}

.lumina-side-shrink-m .layui-side {
  transform: translate3d(0, 0, 0);
}

.lumina-side-shrink-m .lumina-pagetabs,
.lumina-side-shrink-m .layui-layout-admin .layui-body,
.lumina-side-shrink-m .layui-layout-admin .layui-footer,
.lumina-side-shrink-m .layui-layout-admin .layui-layout-left {
  left: 0;
  transform: translate3d(140px, 0, 0);
}

.lumina-side-shrink-m .layui-layout-admin .layui-layout-right {
  transform: translate3d(140px, 0, 0);
}

#lumina_app > .panel {
  min-width: 800px;
}

// 侧边栏
.layui-layout-admin .layui-side {
  width: 140px;
  top: 0;
  z-index: 1001
}

.layui-side-menu .layui-side-scroll {
  width: 240px
}

.layui-side-menu .layui-nav {
  width: 140px;
  margin-top: 50px;
  background: 0 0
}

.layui-side-menu .layui-nav .layui-nav-item a {
  height: 40px;
  line-height: 40px;
  padding-left: 45px;
  padding-right: 30px;
  display: block;
}

.layui-side-menu .layui-nav .layui-nav-item a:hover {
  background: 0 0
}

.layui-side-menu .layui-nav .layui-nav-itemed > .layui-nav-child {
  padding: 5px 0
}

.layui-side-menu .layui-nav .layui-nav-child .layui-nav-child {
  background: 0 0 !important
}

.layui-side-menu .layui-nav .layui-nav-child .layui-nav-child a {
  padding-left: 60px
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-child a {
  color: #333;
  height: 25px;
  line-height: 25px;
  display: block;
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-child a:hover {
  background-color: #009688;
  color: #fff !important;
}

.lumina-side-shrink .layui-side {
  left: 0;
  width: 60px
}

.lumina-side-shrink .lumina-pagetabs, .lumina-side-shrink .layui-layout-admin .layui-body, .lumina-side-shrink .layui-layout-admin .layui-footer, .lumina-side-shrink .layui-layout-admin .layui-layout-left {
  left: 60px
}

.lumina-side-shrink .layui-side-menu .layui-nav {
  position: static;
  width: 40px
}

.lumina-side-shrink .layui-side-menu .layui-nav-item {
  position: static
}

.lumina-side-shrink .layui-side-menu .layui-nav-item > a {
  padding-right: 0
}

.lumina-side-shrink .layui-side-menu .layui-nav-item cite, .lumina-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child, .lumina-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > a .layui-nav-more {
  display: none;
  padding: 8px 0;
  width: 200px
}

.lumina-side-shrink .layui-side-menu .layui-nav > .layui-nav-itemed > a {
  background: rgba(0, 0, 0, .3)
}

// 移动端
.lumina-side-spread-sm .lumina-pagetabs, .lumina-side-spread-sm .layui-layout-admin .layui-body, .lumina-side-spread-sm .layui-layout-admin .layui-footer, .lumina-side-spread-sm .layui-layout-admin .layui-layout-left {
  left: 0;
  transform: translate3d(140px, 0, 0);
  -webkit-transform: translate3d(140px, 0, 0)
}

.lumina-side-spread-sm .layui-side {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0)
}

.lumina-side-spread-sm .lumina-body-shade {
  display: block
}


// 全局tabs栏
.lumina-pagetabs .layui-tab-title li:first-child .fa-close, .lumina-tabs-select.layui-nav .layui-nav-bar, .lumina-tabs-select.layui-nav .layui-nav-more {
  display: none
}

.lumina-pagetabs {
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 40px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}

.lumina-pagetabs .lumina-tabs-control {
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
  box-sizing: border-box;
  border-left: 1px solid #f6f6f6
}

.lumina-pagetabs .lumina-tabs-control:hover {
  background-color: #f6f6f6
}

.lumina-pagetabs .fa-angle-double-left, .lumina-pagetabs .fa-angle-double-right {
  font-size: 20px;
  line-height: 40px;
}

.lumina-pagetabs .fa-angle-double-left {
  left: 0;
  border-left: none;
  border-right: 1px solid #f6f6f6
}

.lumina-pagetabs .fa-angle-double-right {
  right: 0;
}

.lumina-pagetabs .fa-down {
  right: 0
}

.lumina-pagetabs dd:hover {
  background-color: #009688;

  a {
    color: #fff !important;
  }
}

.lumina-pagetabs .layui-tab {
  margin: 0;
  overflow: hidden;
}

.lumina-pagetabs .layui-tab-title {
  height: 40px;
  border: none;
}

.lumina-pagetabs .layui-tab-title li {
  min-width: 0;
  padding-right: 40px;
  border-right: 1px solid #f6f6f6;
  vertical-align: top
}

.lumina-pagetabs .layui-tab-title li > span {
  line-height: 40px;
  height: 40px;
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lumina-pagetabs .layui-tab-title li:first-child {
  padding-right: 15px
}

.lumina-pagetabs .layui-tab-title li .fa-close {
  position: absolute;
  right: 8px;
  top: 50%;
  margin: -7px 0 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  font-size: 12px
}

.lumina-pagetabs .layui-tab-title li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 0;
  background-color: #292B34;
  transition: all .3s;
  -webkit-transition: all .3s
}

.lumina-pagetabs .layui-tab-title li:hover:after {
  width: 100%
}

.lumina-pagetabs .layui-tab-title li.layui-this, .lumina-pagetabs .layui-tab-title li:hover {
  background-color: #f6f6f6
}

.lumina-pagetabs .layui-tab-title li.layui-this:after {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #292B34
}

.lumina-pagetabs {
  .layui-nav-child {
    position: initial;
    border-radius: 5px;
    left: 0;
    top: 0;

    dd {
      padding: 0 20px;
    }
  }
}

.lumina-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-layout-left {
  left: 140px
}

.lumina-pagetabs {
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 999
}

.lumina-pagetabs .layui-breadcrumb {
  padding: 0 15px
}

.lumina-pagetabs .fa {
  color: #8c8d90;
}

.lumina-tabspage-none .layui-layout-admin .layui-header {
  border-bottom: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05)
}

.lumina-tabspage-none .layui-layout-admin .layui-body {
  top: 50px
}

.lumina-tabspage-none .lumina-header {
  display: block
}

.lumina-tabspage-none .lumina-header .layui-breadcrumb {
  border-top: 1px solid #f6f6f6
}


@media screen and (max-width: 450px) {
  .layui-form[wid100] .layui-form-item .layui-input-inline {
    margin-left: 132px
  }

  .layui-form[wid100] .layui-form-item .layui-input-inline + .layui-form-mid {
    margin-left: 130px
  }
}

@media screen and (max-width: 992px) {
  .layui-layout-admin .layui-side {
    transform: translate3d(-140px, 0, 0);
    width: 140px
  }
  .lumina-side-shrink-m .layui-layout-admin .layui-side {
    transform: translate3d(0, 0, 0);
  }
  .lumina-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-layout-left {
    left: 0
  }
}

@media screen and (max-width: 768px) {
  .lumina-panel-selection {
    margin: 0;
    width: auto
  }

  .layui-body .layui-nav .layui-nav-item {
    display: block
  }

  .layui-layout-admin .layui-body .lumina-tabsbody-item {
    -webkit-overflow-scrolling: touch;
    overflow: auto
  }
}

.layui-layer-adminRight {
  top: 0 !important;
  bottom: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
  border-radius: 0;
  overflow: auto;
}

.layui-anim-rl {
  animation-name: layui-rl;
}

@-webkit-keyframes layui-rl {
  0% {
    -webkit-transform: translate3d(100%, 0, 0)
  }
  to {
    -webkit-transform: translateZ(0)
  }
}

@keyframes layui-rl {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.layui-anim-rl {
  -webkit-animation-name: layui-rl;
  animation-name: layui-rl
}

@-webkit-keyframes layui-lr {
  0% {
    -webkit-transform: translateZ(0);
    opacity: 1
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    opacity: 1
  }
}

@keyframes layui-lr {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
}

.layui-anim-lr, .layui-anim-rl.layer-anim-close {
  -webkit-animation-name: layui-lr;
  animation-name: layui-lr
}
.layui-table a{
  text-decoration: underline !important;
}
.layui-form-label.required:after{
  content: '*';
  color: red;
  margin-left:2px;
  position: absolute;
}
.layui-form-item>.layui-input-inline{
  margin-left: 17px;
}
.layui-input:disabled{
    background-color: #eee;
    cursor: pointer;
}
