html,body{
    font-family: Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    background-color: #f5f7fb;
    overflow-x: auto;
}
// layout
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.g-layout-horizontal>*{
  min-height: 800px;
}
.g-layout-vertical{
  width: 100%;
}
.g-layout-horizontal>.split{
  background-color: #fff;
}
.g-layout-horizontal>.split,.g-layout-horizontal .gutter-horizontal{
  float:left;
}
#splitLeft{
    z-index: -1;
    padding-right: 15px;
    overflow: hidden
}
#splitLeft .layui-card-body{
  min-height:80vh;
}


// media player
.xgplayer{
  background-color: #000 !important;
}
::-webkit-input-placeholder {
  color: #ccc
}

.lumina-tabsbody-item, [template] {
  display: none
}

[lay-href], [lay-tips], [lumina-event] {
  cursor: pointer
}

// 全局头
.layui-layout-admin .layui-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #f6f6f6;
  box-sizing: border-box;
  background-color: #fff
}

.layui-layout-admin .layui-header a, .layui-layout-admin .layui-header a cite {
  color: #333
}

.layui-layout-admin .layui-header a:hover {
  color: #000
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-more {
  border-top-color: #666
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-mored {
  border-color: transparent transparent #666
}

.layui-layout-admin .layui-header .layui-nav .layui-this:after, .layui-layout-admin .layui-header .layui-nav-bar {
  height: 2px;
  background-color: #20222A
}

.layui-layout-admin .layui-logo {
  background-color: #20222A;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15)
}

.layui-layout-admin .layui-logo, .layui-layout-admin .layui-logo a {
  color: #fff;
  color: rgba(255, 255, 255, .8)
}

.layui-side-menu {
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, .05)
}

.layui-layout-admin .layui-header .layui-nav .layui-nav-item, .layui-layout-admin .layui-logo {
  height: 50px;
  line-height: 50px
}
